.conteiner{
    max-width: 1366px;
    width: 100%;
    margin: 0px auto;
    background-color: #F2F5F8;
}
header{
width: 100%;
background-color: #ffffff;
display: flex;
justify-content: space-between;
padding-right: 139px;
padding-left: 139px;
align-items: center;
height: 96px;

}
.ul1{
    display: flex;
    gap: 71px;
    color: #8172d5;
    font-size: 13px;

}

.search{
    width: 227px;
    height: 37px;
    background-color: #F2F5F8;
    display: flex;
    border-radius: 10px;
    flex-direction: row-reverse;
}
.fa-magnifying-glass{
    background-color: #8172d5;
    width: 37px;
    height: 37px;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}


section{
    width: 80%;
    margin:59px auto 108px;
    height: 1017px;
    padding-top: 59px;

}
h1{
    margin-bottom: 29px;
    font-size: 18px;
    color: #133b3a;
}
.cards{
    width: 100%;
    height: 795px;
    display: flex;
    flex-wrap: wrap; 
     justify-content: space-between; 
     align-content: space-between;



}
.box1{
    width: 24%;
    height: 368px;
    padding: 18px 18px 21px 18px;
    text-align: left;
    border-radius: 15px;
    background-color: #ffffff;

}
.card_img{
    width: 100%;
    height: 38%;
}


.card_text{
    margin-top: 76px;
    font-size: 20px;
    color: #133b3a;
}
footer{
    width: 100%;
    background-color: #758bfd;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 25px 141px 26px 139px;
    color: white;
  
}

.h2{
font-weight: bold;

}
.li2{
  display: flex;
  color: white;
  margin-left: 141px;
  gap: 117px;
}





